:root {
  --Strongcyan: hsl(172, 67%, 45%);
  --Verydarkcyan: hsl(183, 100%, 15%);
  --Darkgrayishcyan1: hsl(186, 14%, 43%);
  --Darkgrayishcyan2: hsl(184, 14%, 56%);
  --Lightgrayishcyan1: hsl(185, 41%, 84%);
  --Lightgrayishcyan2: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  font-size: 100%;
  border-style: none;
}

html {
  background-color: var(--Lightgrayishcyan1);
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: center;
}

body {
  max-width: 375px;
}

header {
  margin: 2rem;
  display: flex;
  justify-content: center;
}

main {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 1rem;
}

.bill p,
.people p {
  margin-bottom: 0.5rem;
}

.bill,
.people {
  position: relative;
}

.bill img,
.people img {
  position: absolute;
  padding: 1rem;
  color: var(--Darkgrayishcyan2);
}

.bill input,
.people input {
  font-weight: 700;
  height: 3rem;
}

.tip-btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;
}

.tip-head {
  grid-column: span 2;
  display: flex;
  align-items: flex-end;
}

.tip-percent {
  color: var(--white);
  background-color: var(--Verydarkcyan);
  border-radius: 0.25rem;
}

.tip-percent:hover {
  background-color: var(--Lightgrayishcyan1);
}

.tip-percent,
.custom-tip {
  font-size: 1.25rem;
  font-weight: 700;
  height: 2.75rem;
}

.active-btn {
  color: var(--Verydarkcyan);
  background-color: var(--Strongcyan);
}

.people div {
  display: flex;
  justify-content: space-between;
}

.zero-people {
  color: orange;
}

.output {
  background-color: var(--Verydarkcyan);
  border-radius: 0.75rem;
  color: var(--white);
  padding: 1.5rem;
}

.tip-container,
.total-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.25rem 0;
}

.reset {
  width: 100%;
  padding: 0.51rem;
  margin-top: 1rem;
  background-color: var(--Strongcyan);
  border-radius: 0.25rem;
  font-weight: 700;
  color: var(--Verydarkcyan);
}

.reset:hover {
  background-color: var(--Lightgrayishcyan1);
}

footer {
  margin: 2rem;
  font-size: 0.6rem;
  text-align: center;
  color: var(--Darkgrayishcyan1);
}

input {
  width: 100%;
  color: var(--Verydarkcyan);
  font-size: 1.5rem;
  text-align: right;
  background-color: var(--Lightgrayishcyan2);
  border: none;
  border-radius: 0.25rem;
  padding-right: 0.75rem;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline: 2px solid var(--Strongcyan);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.divide {
  margin-bottom: 1rem;
}

button {
  cursor: pointer;
}

p {
  font-weight: 700;
  color: var(--Darkgrayishcyan1);
}

span {
  font-size: 0.751rem;
  font-weight: 700;
  padding-top: -1rem;
  color: var(--Darkgrayishcyan2);
}

.breakdown p {
  color: var(--white);
  line-height: 0.751rem;
}

h1 {
  text-align: right;
  color: hsl(172, 67%, 45%);
  font-size: 2rem;
}

.hidden {
  display: none;
}

:hover {
  transition: all 0.5s ease;
}

a {
  text-decoration: none;
  color: var(--Lightgrayishcyan2);
}

a:hover {
  color: var(--Strongcyan);
}

@media (min-width: 850px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -7rem;
    max-width: 60vw;
  }

  header {
    margin-bottom: 4rem;
  }

  main {
    min-width: 750px;
    width: 66vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    padding: 2rem;
    gap: 2rem;
  }

  .input {
    grid-column: 1/2;
  }

  .tip-btn-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .tip-head {
    grid-column: span 3;
  }

  .output {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 1vw;
    margin: 1rem 0;
  }

  h1 {
    font-size: 2.75rem;
  }
}
