* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

html {
  background-color: hsl(185, 41%, 84%);
}

body {
  display: flex;
  flex-direction: column;
}

header,
main,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  border: 1px dotted;
  margin: min(10vw, 2rem) 0;
}

main {
  border: 1px dotted;
  background-color: hsl(0, 0%, 100%);
  flex-direction: column;
  align-self: center;
  max-width: 23rem;
  border-radius: 1.5rem;
  padding: 2rem;
}

button {
  width: 9rem;
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  height: 2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

.btns {
  margin: 0;
}

.input {
  width: 100%;
  border: 1px solid;
}

.output {
  background-color: hsl(183, 100%, 15%);
  width: 100%;
  border-radius: 0.75rem;
  margin: 2rem;
  padding: 2rem;
}

.tip-container,
.total-container {
  display: flex;
  color: white;
}

footer {
  display: flex;
  text-align: center;
  border: 1px dotted;
}

@media (min-width: 600px) {
  body {
    height: 100vh;
  }

  header {
    border: 1px dotted pink;
    flex: 1;
  }

  main {
    border: 1px dotted pink;
    flex-direction: row;
    flex: 2;
    max-width: none;
  }

  /* button {

  } */

  footer {
    border: 1px dotted pink;
    flex: 1;
    align-items: flex-end;
  }
}
